:root{
    /* Ratio Between Plot Area and Scroll Bar. Default is 95:5 and It is recommended to set 100% total. */
    --plotAreaRatio: 95%;
    --scrollBarRatio: 5%;

    /* Menu Bar Width. Default is 18%. */
    --menuBarWidth: 20%;
}

body *{
    box-shadow: 0 0 0 2px #202020 inset;
}

#pageLayout{
    width:100%;
    height:100%;
    display:flex;
}

#menuBar {
    position: fixed;
    width: var(--menuBarWidth);
    height: var(--plotAreaRatio);
}

#controlButtonContainer {
    display:flex;
    flex-wrap: wrap;
    min-height: 50px;
    height: var(--scrollBarRatio);
}

.controlButton {
    width:50px;
}

#mainContainer{
    width:100%;
    height:100%;
}

#canvasContainer{
    width:100%;
    height:var(--plotAreaRatio);
}

#plotArea {
    width: 100%;
    height: 100%;
}

#scrollBar {
    height: var(--scrollBarRatio);
}