<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/reset.css">
    </link>
    <link rel="stylesheet" href="../public/style/main.css">
    </link>
    <title>Document</title>
</head>

<body>
    <div id="pageLayout">
        <div id="menuBar">
            <div id="controlButtonContainer">
                <div class="controlButton"></div>
                <div class="controlButton"></div>
                <div class="controlButton"></div>
                <div class="controlButton"></div>
            </div>
        </div>
        <div id="mainContainer">
            <div id="canvasContainer">
                <canvas id="plotArea"></canvas>
            </div>
            <div id="scrollBar">

            </div>
        </div>
    </div>
</body>

</html>